# Logs and local artifacts
*.log
server_uiux.log
next-site/.next/
next-site/node_modules/
next-site/out/

# Hugo
public/
resources/
.hugo_build.lock

# Tools & Binaries
hugo
hugo.tar.gz
go/
go.tar.gz

# Backup files
content_backup/
*.bak
