name: Lighthouse

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: Run Lighthouse CI on production URL
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://joshuaadams.dev
          uploadArtifacts: true
          temporaryPublicStorage: true
